{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Dashboard : {{ data.requested_symbol.symbol_name }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-content">
            <!--Begin::Section-->
            <div class="row">
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-xl-7">
                            <!--begin::Portlet-->
                            <div class="m-portlet m-portlet--tab">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
                                            <h3 class="m-portlet__head-text">
                                                Create new symbol
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <!--begin::Form-->
                                <form method="post" action="{% url 'dashboard' 0 %}"
                                      class="m-form m-form--fit m-form--label-align-right">
                                    {% csrf_token %}
                                    <div class="m-portlet__body ">
                                        <div class="form-group m-form__group">
                                            <input type="text" class="form-control m-input m-input--air"
                                                   name="url" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                   placeholder="{{ data.message }}">
                                        </div>
                                    </div>
                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions">
                                            <button type="submit" class="btn btn-accent">
                                                Extract
                                            </button>

                                        </div>
                                    </div>
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Portlet-->
                        </div>
                        <div class="col-xl-5">
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__body" id="chart_div">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__body  m-portlet__body--no-padding">
                                    <div class="m-portlet__body" id="pl_div">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__body  m-portlet__body--no-padding">
                                    <div class="m-portlet__body" id="cf_div">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-4" >
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__body " id="curve_chart">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">

                        </div>
                        <div class="col-xl-4">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="m-portlet">
                                <div class="m-portlet__body  m-portlet__body--no-padding">
                                    <div class="row m-row--no-padding m-row--col-separator-xl">
                                        <div class="col-xl-4">
                                            <!--begin:: Widgets/Daily Sales-->
                                            <div class="m-widget14">
                                                <div class="m-widget14__header m--margin-bottom-30">
                                                    <h3 class="m-widget14__title">
                                                        Daily Sales
                                                    </h3>
                                                    <span class="m-widget14__desc">
													Check out each collumn for more details
												</span>
                                                </div>
                                                <div class="m-widget14__chart" style="height:120px;">
                                                    <canvas id="m_chart_daily_sales"></canvas>
                                                </div>
                                            </div>
                                            <!--end:: Widgets/Daily Sales-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin:: Widgets/Profit Share-->
                                            <div class="m-widget14">
                                                <div class="m-widget14__header">
                                                    <h3 class="m-widget14__title">
                                                        Profit Share
                                                    </h3>
                                                    <span class="m-widget14__desc">
													Profit Share between customers
												</span>
                                                </div>
                                                <div class="row  align-items-center">
                                                    <div class="col">
                                                        <div id="m_chart_profit_share" class="m-widget14__chart"
                                                             style="height: 160px">
                                                            <div class="m-widget14__stat">
                                                                100
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="m-widget14__legends">
                                                            <div class="m-widget14__legend">
                                                                <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                                                <span class="m-widget14__legend-text">
																{{ data.company.liabilities }}% Liabilties
															</span>
                                                            </div>
                                                            <div class="m-widget14__legend">
                                                                <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                                                <span class="m-widget14__legend-text">
																{{ data.company.equity }}% Equity
															</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end:: Widgets/Profit Share-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin:: Widgets/Daily Sales-->
                                            <div class="m-widget14">
                                                <div class="m-widget14__header m--margin-bottom-30">
                                                    <h3 class="m-widget14__title">
                                                        Daily Sales
                                                    </h3>
                                                    <span class="m-widget14__desc">
													Check out each collumn for more details
												</span>
                                                </div>
                                                <div class="m-widget14__chart" style="height:120px;">
                                                    <canvas id="m_chart_daily_sales"></canvas>
                                                </div>
                                            </div>
                                            <!--end:: Widgets/Daily Sales-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Symbol Bar
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <!--begin: Search Form -->
                            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                <div class="row align-items-center">
                                    <div class="col-xl-8 order-2 order-xl-1">
                                        <div class="form-group m-form__group row align-items-center">

                                            <div class="col-md-12">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input"
                                                           placeholder="Search..." id="generalSearch">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end: Search Form -->
                            <!--begin: Datatable -->
                            <table class="m-datatable" id="html_table" width="100%">
                                <thead>
                                <tr>
                                    <th title="Field #1">
                                        Symbol
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in data.all_symbols %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'dashboard' item.id %}">{{ item.symbol_name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>
            </div>
            <!--End::Section-->
        </div>
    </div>
{% endblock %}
{% block script_content %}
    <script src="{% static "assets/demo/default/custom/crud/metronic-datatable/base/html-table.js" %}"
            type="text/javascript"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawBalanceSheet);
        google.charts.setOnLoadCallback(drawProfitLossStatement)
        google.charts.setOnLoadCallback(drawCashFlowStatement)
        google.charts.setOnLoadCallback(drawBalanceHistory)

        function drawBalanceSheet() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'finance');
            data.addColumn('number', 'precentage');
            data.addRows([
                ['Equity', {{ data.company.equity }}],
                ['Debt', {{ data.company.liabilities }}]
            ]);

            // Set chart options
            var options = {
                'title': 'Company financing',
                'width': '100%',
                'height': 207,
                is3D: true,
                //pieHole: 0.6,

            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);

        }
        function drawProfitLossStatement(){
            // Create the data table.
            var data_pl = new google.visualization.DataTable();
            data_pl.addColumn('string', 'entry');
            data_pl.addColumn('number', 'precentage');
            data_pl.addRows([
                ['Expences', {{ data.pl.expences }}],
                ['Taxes', {{ data.pl.tax }}],
                ['Profit', {{ data.pl.profit }}],
            ]);

            // Set chart options
            var options_pl = {
                'title': 'Income Statement',
                'width': '100%',
                'height': 207,
                is3D: true,
                //pieHole: 0.6,

            };

            // Instantiate and draw our chart, passing in some options.
            var chart_pl = new google.visualization.PieChart(document.getElementById('pl_div'));
            chart_pl.draw(data_pl, options_pl);
        }
        function drawCashFlowStatement(){
            // Create the data table.
            var data_pl = new google.visualization.DataTable();
            data_pl.addColumn('string', 'entry');
            data_pl.addColumn('number', 'precentage');
            data_pl.addRows([
                ['Operations', {{ data.cf.operating_activities }}],
                ['Investments', {{ data.cf.investing_activities }}],
                ['Financing', {{ data.cf.financing_activities }}],
                ['Others', {{ data.cf.others }}],
            ]);
            var data = google.visualization.arrayToDataTable([
                ['Entry', 'cost', { role: 'style' } ],
                ['Operations', {{ data.cf.operating_activities }}, 'color: green'],
                ['Investments', {{ data.cf.investing_activities }}, 'color: red'],
                ['Financing', {{ data.cf.financing_activities }}, 'color: red'],
                ['Others', {{ data.cf.others }}, 'color: red']

              ]);

            // Set chart options
            var options_pl = {
                'title': 'Cash Flow',
                'width': '100%',
                'height': 207,
                legend: {position: 'none'},
                is3D: true,

            };

            // Instantiate and draw our chart, passing in some options.
            var chart_pl = new google.visualization.BarChart(document.getElementById('cf_div'));
            chart_pl.draw(data, options_pl);
        }
        function drawBalanceHistory() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Share Capital', 'Debt', 'Assets'],
            {% for item in data.balance_hist %}
                ['{{ item.sheet_year.year }}', {{ item.total_share_holders_fund }}, {{ item.total_non_current_liabilities }}, {{ item.total_non_current_assets }}],
            {% endfor %}

        ]);

        var options = {
          title: 'Company History',
          'width': '100%',
          'height': 207,
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }

    </script>

{% endblock script_content %}